extends layout.pug 

block content 
  - var player = playerData;
  - var stats = playerStats;
  - var team = teamData;
  - var teamName = team.city + ' ' + team.name;
  - var minutes = Math.round(parseInt(stats.miscellaneous.minSeconds) / 60);
  - var minutesPerGame = Math.round(parseInt(stats.miscellaneous.minSecondsPerGame) / 60);
  - var bDay = player.birthDate.substring(0, player.birthDate.length - 1);
  - var trimWords = ['University', 'university', 'College', 'college,',  'Of', 'of'];
  if player.college
    - var college = player.college.split(' ').filter(word => !trimWords.includes(word)).join(' ');

  div.playerBanner
    img(src=player.officialImageSrc)

    div.bannerText
      div.nameAndNumber
        h3.jerseyNumber #{'#' + player.jerseyNumber}
        div.name
          h3.firstName #{player.firstName} 
          h3.lastName #{player.lastName} 
      div.logoAndTeamName
        img.teamLogo(src=team.image)
        p #{player.position}
        p -
        a(class='teamLink' href='/api/team/' + teamData.abbreviation) #{' ' + teamName.toUpperCase()}  

  div.playerInfo 
    div.smallInfo 
      div.cell
        p HT 
        p #{player.height}
      div.cell
        p WT 
        p #{player.weight + ' lbs'}
      div.cell
        p AGE 
        p #{player.age}
      div.cell
        p BORN 
        p=bDay
    div.largeInfo 
      div.cell
        p PRIOR
        if player.college 
          p #{college + '/' + player.birthCountry} 
        else 
          p #{player.birthCountry + '/' + player.birthCountry}
      div.cell
        p DRAFT
        p #{player.drafted.year + ' Rnd ' + player.drafted.round + ' Pick ' + player.drafted.overallPick}
    div.perGameInfo
      div.cell 
        p PTS
        p #{stats.offense.ptsPerGame}
      div.cell 
        p REB
        p #{stats.rebounds.rebPerGame}
      div.cell 
        p AST
        p #{stats.offense.astPerGame}
      div.cell 
        p MIN
        p=minutesPerGame

  
  div.playerStats
    p.splitType Tradtional Splits
    div.statsMain
      div.stat
        p.statAbbrev GP 
        p.statValue #{stats.gamesPlayed}
      div.stat
        p.statAbbrev MIN 
        p.statValue #{minutes}
      div.stat
        p.statAbbrev PTS 
        p.statValue #{stats.offense.pts}
      div.stat
        p.statAbbrev FGM 
        p.statValue #{stats.fieldGoals.fgMade}
      div.stat
        p.statAbbrev FGA 
        p.statValue #{stats.fieldGoals.fgAtt}
      div.stat
        p.statAbbrev FG% 
        p.statValue #{stats.fieldGoals.fgPct}
      div.stat
        p.statAbbrev 3PM 
        p.statValue #{stats.fieldGoals.fg3PtMade}
      div.stat
        p.statAbbrev 3PA 
        p.statValue #{stats.fieldGoals.fg3PtAtt}
      div.stat
        p.statAbbrev 3P% 
        p.statValue #{stats.fieldGoals.fg3PtPct}
      div.stat
        p.statAbbrev FTM 
        p.statValue #{stats.freeThrows.ftMade}
      div.stat
        p.statAbbrev FTA 
        p.statValue #{stats.freeThrows.ftAtt}
      div.stat
        p.statAbbrev FT% 
        p.statValue #{stats.freeThrows.ftPct} 
      div.stat
        p.statAbbrev OREB
        p.statValue #{stats.rebounds.offReb}
      div.stat
        p.statAbbrev DREB
        p.statValue #{stats.rebounds.defReb}
      div.stat
        p.statAbbrev REB
        p.statValue #{stats.rebounds.reb}
      div.stat
        p.statAbbrev AST
        p.statValue #{stats.offense.ast}
      div.stat
        p.statAbbrev TOV
        p.statValue #{stats.defense.tov}
      div.stat
        p.statAbbrev STL
        p.statValue #{stats.defense.stl}
      div.stat
        p.statAbbrev BLK
        p.statValue #{stats.defense.blk}
      div.stat
        p.statAbbrev PF
        p.statValue #{stats.miscellaneous.fouls}
      div.stat
        p.statAbbrev +/-
        p.statValue #{stats.miscellaneous.plusMinus}