extends layout.pug

block content 
  -var stats = teamStats;
  -var winPct = stats.standings.winPct.toString().substring(1);
  -var conference = team.conference.toUpperCase();
  -var division = team.division.toUpperCase();

  div.siteContent
    div.teamBanner
      div.teamInfo
        img.logoMedium(src=team.image)
        div.teamName
          h2 #{team.city}
          h1 #{team.name}
        h3.established #{'Established ' + team.established}

      div.teamStats 
        div.stat
          p.statAbbrev PPG
          p.statValue #{stats.offense.ptsPerGame}
        div.stat
          p.statAbbrev RPG
          p.statValue #{stats.rebounds.rebPerGame}
        div.stat
          p.statAbbrev APG
          p.statValue #{stats.offense.astPerGame}
        div.stat
          p.statAbbrev OPG
          p.statValue #{stats.defense.ptsAgainstPerGame}
        div.stat
          p.statAbbrev RECORD
          p.statValue #{stats.standings.wins + ' - ' + stats.standings.losses + ' (' + winPct + ')'}
        div.stat
          p.statAbbrev #{conference + ' ' + 'CONF.'} 
          p.statValue #{'Rank #' + standings.conferenceRank.rank}
        div.stat
          p.statAbbrev #{division + ' ' + 'DIV.'}
          p.statValue #{'Rank #' + standings.divisionRank.rank}


    div.rosterSection
      div.rosterHeader 
        p Team Roster
      table 
        tr.labels 
          th player
          th no.
          th pos
          th height
          th weight
          th birthdate
          th age 
          th school
        each player in roster 
          if player.jerseyNumber !== null 
            - var fullName = player.firstName + ' ' + player.lastName
            - var trimWords = ['University', 'university', 'College', 'college,',  'Of', 'of'];
            if player.college
              - var college = player.college.split(' ').filter(word => !trimWords.includes(word)).join(' ');
            tr.playerCell 
              td
                a(class='rosterName' href='/api/player/' + player.id)=fullName
              td #{'#' + player.jerseyNumber}
              td= player.position
              td= player.height 
              td= player.weight 
              td= player.birthDate
              td= player.age 
              if player.college 
                td.rosterCollege=college
              else 
                td= player.college

